{% extends "layout.twig" %}

{% set meta_title = '' %}
{% set meta_description = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dolores.' %}
{% set meta_cover = 'cover.png' %}

{% block content %}
<h1>Home Site</h1>

{% endblock %}
